body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(135, 135, 135);
  margin: 2;
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
}
ul {
  margin: 0 0 25px;
  padding: 0;
}

li {
  color: rgb(135, 135, 135);
  font-weight: 100;
  font-size: 16px;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid rgb(184, 180, 180);
  border-radius: 15px;
  padding: 20px;
  margin: 25px auto;
  max-width: 650px;
}

.temp {
  color: black;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
.weather-icon {
  height: 64px;
  width: 70px;
  margin-left: 5px;
}
.units {
  position: relative;
  top: -10px;
  font-size: 15px;
}
.weather-search {
  margin-bottom: 20px;
}
.footer {
  text-align: center;
}
.self-link {
  text-decoration: none;
}
